= simple_form_for(@newPost) do |f|
 #ingredients
  = f.simple_fields_for :ingredients do |ingredient|
   = render 'ingredients_fields', f: ingredient
  .links
   = link_to_add_association 'Add Ingredient', f, :ingredients, class: 'btn btn-default add-button'