<title>Profile</title>

<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">PROFILE BANNER</div>
	</div>
</div>

<!-- Begin Row 2 -->

<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <p>Profile</p> 
		  </div>
		</div>
	</div>
	<div class="col-xs-6">
		<%= render "/components/post_form" %>
		<div class="panel panel-default">
		  <div class="panel-body">
			<% for @p in @posts %>
		    <p><strong><%= @p.title %></strong></p>
		    <p>Description : <%= @p.description %></p>
			    <% if @p.image.file? %>
			    <p><%= image_tag @p.image.url %></p>
			    <% end %>
		    <hr>
			<% end %>
			<center><h6>End Of Posts</h6></center>
		  </div>
		</div>
	</div>

	<div class="col-xs-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <p>Who To Follow</p> 
		  </div>
		</div>
	</div>
</div>


<!-- Begin Row 3 -->

<div class="row">
	<div class="col-xs-3 col-xs-offset-9">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <p>Hot Recipes!</p> 
		  </div>
		</div>
	</div>
</div>
